{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "8eb90bf22ee23bfeea7f70e79da0787d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "auth0-client",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://dev-jupiterone.us.auth0.com/oauth/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2899,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
            {
              "expires": "2022-05-12T00:11:12.000Z",
              "httpOnly": true,
              "maxAge": 31557600,
              "name": "did_compat",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ot-baggage-auth0-request-id",
              "value": "64dd5e53c8aec7cd"
            },
            {
              "name": "ot-tracer-sampled",
              "value": "true"
            },
            {
              "name": "ot-tracer-spanid",
              "value": "0152de750ae2a7b1"
            },
            {
              "name": "ot-tracer-traceid",
              "value": "1b4c8ce023895d69"
            },
            {
              "name": "x-auth0-requestid",
              "value": "2584ab00d2afd0af4caf"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "30"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "29"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1620756673"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 526,
      },
      {
        "_id": "32f166a8708941184e907f965b1c39cb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "auth0-client",
              "value": "[REDACTED]"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "0"
            }
          ],
          "url": "https://dev-jupiterone.us.auth0.com/api/v2/users?per_page=100&page=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 858,
            "text": "[{\"created_at\":\"2021-05-10T18:38:51.757Z\",\"email\":\"adam.williams@jupiterone.com\",\"email_verified\":false,\"identities\":[{\"connection\":\"Username-Password-Authentication\",\"user_id\":\"60997dbb9201390068ed3573\",\"provider\":\"auth0\",\"isSocial\":false}],\"name\":\"adam.williams@jupiterone.com\",\"nickname\":\"adam.williams\",\"picture\":\"https://s.gravatar.com/avatar/9ea4fa51e96ace12abc2f580a55d8dd7?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fad.png\",\"updated_at\":\"2021-05-10T18:38:51.757Z\",\"user_id\":\"auth0|60997dbb9201390068ed3573\"},{\"created_at\":\"2021-05-06T16:28:13.644Z\",\"email\":\"thomaskevincasey74@gmail.com\",\"email_verified\":false,\"identities\":[{\"connection\":\"Username-Password-Authentication\",\"user_id\":\"6094191d9201390068ecb1da\",\"provider\":\"auth0\",\"isSocial\":false}],\"name\":\"thomaskevincasey74@gmail.com\",\"nickname\":\"thomaskevincasey74\",\"picture\":\"https://s.gravatar.com/avatar/94067c015850e0f500a37895e62dc45f?s[...]
