{
  "log": {
    "_recordingName": "userRecursionPagination",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "8eb90bf22ee23bfeea7f70e79da0787d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "auth0-client",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://dev-jupiterone.us.auth0.com/oauth/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1405,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
            {
              "expires": "2022-05-18T02:05:56.000Z",
              "httpOnly": true,
              "maxAge": 31557600,
              "name": "did_compat",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ot-baggage-auth0-request-id",
              "value": "650f76a3ae92c7b5"
            },
            {
              "name": "ot-tracer-sampled",
              "value": "true"
            },
            {
              "name": "ot-tracer-spanid",
              "value": "7559f2b66c283186"
            },
            {
              "name": "ot-tracer-traceid",
              "value": "0a07606b240dc7a8"
            },
            {
              "name": "x-auth0-requestid",
              "value": "33318abdb00a78ccbba3"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "30"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "29"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1621281957"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 362,
      },
      {
        "_id": "3f15cbeab0cadc6056adc3eb365ee2e9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "auth0-client",
              "value": "[REDACTED]"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "1"
            },
            {
              "name": "page",
              "value": "0"
            },
            {
              "name": "q",
              "value": "user_id:auth0|*"
            },
            {
              "name": "include_totals",
              "value": "true"
            }
          ],
          "url": "https://dev-jupiterone.us.auth0.com/api/v2/users?per_page=1&page=0&q=user_id%3Aauth0%7C%2A&include_totals=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 702,
            "text": "{\"start\":0,\"limit\":1,\"length\":1,\"users\":[{\"created_at\":\"2021-05-10T18:38:51.757Z\",\"email\":\"adam.williams@jupiterone.com\",\"email_verified\":false,\"identities\":[{\"connection\":\"Username-Password-Authentication\",\"user_id\":\"60997dbb9201390068ed3573\",\"provider\":\"auth0\",\"isSocial\":false}],\"name\":\"adam.williams@jupiterone.com\",\"nickname\":\"adam.williams\",\"picture\":\"https://s.gravatar.com/avatar/9ea4fa51e96ace12abc2f580a55d8dd7?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fad.png\",\"updated_at\":\"2021-05-10T18:38:51.757Z\",\"user_id\":\"auth0|60997dbb9201390068ed3573\"}],\"total\":2}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "ot-baggage-auth0-request-id",
              "value": "650f76a60c4cf788"
            },
            {
              "name": "ot-tracer-sampled",
              "value": "true"
            },
            {
              "name": "ot-tracer-spanid",
              "value": "7ab746b04f8268ef"
            [...]
