{
  "log": {
    "_recordingName": "userRecursionExcess",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "8eb90bf22ee23bfeea7f70e79da0787d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "auth0-client",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://dev-jupiterone.us.auth0.com/oauth/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1403,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
            {
              "expires": "2022-05-18T02:02:46.000Z",
              "httpOnly": true,
              "maxAge": 31557600,
              "name": "did_compat",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "ot-baggage-auth0-request-id",
              "value": "650f71fe6b29c7cd"
            },
            {
              "name": "ot-tracer-sampled",
              "value": "true"
            },
            {
              "name": "ot-tracer-spanid",
              "value": "7455df9345bf799f"
            },
            {
              "name": "ot-tracer-traceid",
              "value": "426c322f011383c4"
            },
            {
              "name": "x-auth0-requestid",
              "value": "128bb48ab435fad3b2f6"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "30"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "29"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1621281767"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 393,
      },
      {
        "_id": "9865b7d47c818c05c68b90f1c025ffe8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "auth0-client",
              "value": "[REDACTED]"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "page",
              "value": "0"
            },
            {
              "name": "q",
              "value": "user_id:auth0|*"
            },
            {
              "name": "include_totals",
              "value": "true"
            }
          ],
          "url": "https://dev-jupiterone.us.auth0.com/api/v2/users?per_page=100&page=0&q=user_id%3Aauth0%7C%2A&include_totals=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 914,
            "text": "{\"start\":0,\"limit\":100,\"length\":2,\"users\":[{\"created_at\":\"2021-05-10T18:38:51.757Z\",\"email\":\"adam.williams@jupiterone.com\",\"email_verified\":false,\"identities\":[{\"connection\":\"Username-Password-Authentication\",\"user_id\":\"60997dbb9201390068ed3573\",\"provider\":\"auth0\",\"isSocial\":false}],\"name\":\"adam.williams@jupiterone.com\",\"nickname\":\"adam.williams\",\"picture\":\"https://s.gravatar.com/avatar/9ea4fa51e96ace12abc2f580a55d8dd7?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fad.png\",\"updated_at\":\"2021-05-10T18:38:51.757Z\",\"user_id\":\"auth0|60997dbb9201390068ed3573\"},{\"created_at\":\"2021-05-06T16:28:13.644Z\",\"email\":\"thomaskevincasey74@gmail.com\",\"email_verified\":false,\"identities\":[{\"connection\":\"Username-Password-Authentication\",\"user_id\":\"6094191d9201390068ecb1da\",\"provider\":\"auth0\",\"isSocial\":false}],\"name\":\"thomaskevincasey74@gmail.com\",\"nickname\":\"thomaskevincasey74\",\"picture\":\"https://s.gravatar.com/avatar/94067c015850e0f500a37895e62dc45f?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fth.png\",\"updated_at\":\"2021-05-06T16:28:13.644Z\",\"user_id\":\"auth0|6094191d9201390068ecb1da\"}],\"total\":2}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "ot-baggage-auth0-request-id",
              "value": "650f7200df4ef794"
            },
            {
              "name": "ot-tracer-sampled",
              "value": "true"
            },
            {
              "name": "ot-tracer-spanid",
              "value": "660338234df4afbc"
            },
            {
              "name": "ot-tracer-traceid",
              "value": "7f99ae2b096c9764"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "10"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "9"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1621281768"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 334,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
